@import url("css3-dh.css");
@import url("../iconfont/iconfont.css");
@import url("slides.css");
/*1. 布局*/
/*1.1 全局*/
.vm *{ vertical-align:middle}
.wp-c { width: 1226px; margin: 0 auto;}/*网页整体宽度*/
.wp100{ width: 100%;}/*网页整体宽度*/
.w-1200{width:1200px}
.w-1000{width:1000px}
.w-980{width:980px}
.w-950{width:950px}
.w-520{width:520px}
.w-300{width:300px}
.w-200{width:200px}
.otherWP{ padding-left:30px; padding-right:30px;}
body{ color: #333; overflow-x:hidden}
.mini-Wraper{ overflow:hidden}
.bg-1{ background-color:#f7f8fc}
.bg-2{ background-color:#f6f6f6}
.bg-3{ background-color:#faf9f9}
.bg-4{ background-color:#f8f8f8}
.bg-5{ background-color:#fafafa}
.bg-w{ background-color:#ffffff}
.bg-b{ background-color:#161B22}
.bg-d{ background-color:#0B0014}
.bg-primary{ background:#e81d4d}

.m-auto { margin: 0 auto;}
.more,a.more { font-size: 14px;}
.bottom-bg { background: #f7f8fc url(../img/bottom-bg.png) no-repeat center bottom; padding-bottom: 40px;}
.dip-none { display: none;}
/*1.2 文字*/
a{color:#333}/*默认链接颜色*/
.mainlink:link,.mainlink:visited,.mainlink:active{color:#f4523a}/*主要链接颜色*/
.subcolor,.sublink:link,.sublink:visited,.sublink:active{ color:#0679ca}/*次链颜色*/

a:hover,a:focus{color:#f4523a}/*鼠标经过的颜色*/
.c_primary,.c_primary a{ color:#f4523a} /*强调颜色*/
.c_e81d4d,.c_e81d4d a{ color: #e81d4d;} /*主色*/
.c_c7d2d8,.c_c7d2d8 a{ color:#c7d2d8}/*灰色颜色*/
.c_333,.c_333 a{ color:#333}/*灰色颜色*/
.c_666,.c_666 a{ color:#666}/*灰色颜色*/
.c_999,.c_999 a{ color:#999}/*灰色颜色*/
.c_sub,.c_sub a{ color:#919090}/*次文字颜色*/
.c_b0afae,.c_b0afae a{ color:#b0afae}/*次文字颜色*/
.c_warry{ color:#c51900}
.c_title{ font-size:24px}/*栏目标题*/
.c_content{ color:#818181}/*内容文字颜色*/
.c_2d2d2d{ color:#2d2d2d}
.c_ff4a39{ color:#ff4a39}
.c_f64c2e{ color:#f64c2e}
.c_Auxiliary{}/*辅助颜色*/
.c_f34a35{ color:#f34a35}
.c_005dad{ color:#005dad}
.c_0679ca{ color:#0679ca}
.c_919190{ color:#919190}
.c_ff543c{ color:#ff543c}
.c_bbb{ color:#bbb}
.c_ffffff,.c_ffffff a{ color:#ffffff}

.fb_400 { font-weight: 400;}
.fb_500 { font-weight: 500;}
.fb_600 { font-weight: 600;}

/*3.1.13 文字尺寸
	Name:			style_font-size
	Example:		class="f-12|f-14|f-16|f-18|f-20|f-24|f-26|f-28|f-30"
	Explain:		12px字体|14px字体|16px字体|18px字体|20px字体|24px字体|26px字体|28px字体|30px字体
*/
.f-12{font-size:12px}.f-14{font-size:14px}.f-16{font-size:16px}.f-18{font-size:18px}.f-20{font-size:20px}.f-24{font-size:24px}.f-26{font-size:26px}.f-28{font-size:28px}.f-30{font-size:30px}.f-36{font-size:36px}.f-48{font-size:48px}.f-60{font-size:60px}
.iconfont.f-12{font-size:12px}.iconfont.f-14{font-size:14px}.iconfont.f-16{font-size:16px}.iconfont.f-18{font-size:18px}.iconfont.f-20{font-size:20px}.iconfont.f-24{font-size:24px}.iconfont.f-26{font-size:26px}.iconfont.f-28{font-size:28px}.iconfont.f-30{font-size:30px}.iconfont.f-36{font-size:36px}.iconfont.f-48{font-size:48px}.iconfont.f-60{font-size:60px}
/*3.1.8 外边距
	Name:			style_margin
	Example:		class="mt-5|mt-10..."
	Explain:		.mt表示上边距|.mb表示下边距|.ml表示左边距|.mr表示右边距
*/
.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-50{margin-top:50px}
.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}
.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-30{margin-left:30px}.ml-40{margin-left:40px}.ml-50{margin-left:50px}
.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-50{margin-right:50px}
/*3.1.9 内填充
	Name:			style_padding
	Example:		class="pt-5|pt-10|……"
	Explain:		.pt表示上填充|.pb表示下填充|.pl表示左填充|.pr表示右填充
*/
.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-20{padding-top:20px}.pt-30{padding-top:30px}.pt-40{padding-top:40px}.pt-50{padding-top:50px}.pt-60{padding-top:60px}
.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}.pb-30{padding-bottom:30px}.pb-40{padding-bottom:40px}.pb-50{padding-bottom:50px}.pb-60{padding-bottom:60px}
.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-20{padding-left:20px}.pl-30{padding-left:30px}.pl-40{padding-left:40px}.pl-50{padding-left:50px}.pl-60{padding-left:60px}
.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-20{padding-right:20px}.pr-30{padding-right:30px}.pr-40{padding-right:40px}.pr-50{padding-right:50px}.pr-60{padding-right:60px}
.pd-5{padding:5px}.pd-10{padding:10px}.pd-15{padding:15px}.pd-20{padding:20px}.pd-30{padding:30px}.pd-40{padding:40px}.pd-50{padding:50px}.pd-60{padding:60px}
/*导航条*/
.navbar-wrapper{ height: 70px; }
.navbar .logo{height: 69px;line-height: 69px;margin-right: 10px;float: left;}
.navbar-nav > ul > li,.navbar-nav > ul > li > a{line-height:69px;font-size:14px}
.topnav.bg-d { color: #f7f7f7;}
.topnav.bg-d a { color: #f7f7f7;}

.topnav { line-height: 28px; }
.r-nav > li{position:relative; clear:both;* float:left}
.r-nav { z-index: 1530;}
/*浮动导航条*/
#mynav{ width:100%;  background-color: #ffffff; border-bottom:1px solid #DDDDDD; position:relative; z-index:99; }
/*border*/
.border { border: solid 1px #DDDDDD;}
.border-l { border-left: solid 1px #DDDDDD;}
.border-r { border-right: solid 1px #DDDDDD;}
.border-b { border-bottom: solid 1px #DDDDDD;}
.border-t { border-top: solid 1px #DDDDDD;}

/*=========================首页新闻资讯=========================*/
.title_bg_line { background: url(../img/title_bg_line.png) no-repeat center center;}
/*4.3 下拉菜单
	Name:			mod_dropDown
	Example:
	<span class="dropDown">
		<a class="dropDown_A" href="#">下拉菜单</a>
		<ul class="dropDown-menu menu radius box-shadow">
			<li><a href="#">菜单一</a></li>
			<li><a href="#">菜单二</a></li>
		</ul>
	</span>
	Explain:		如需要在不同的地方显示不同的样式，请在<span class="dropDown"> 追加class，采用覆盖的方式重写默认样式。

*/
.dropDown{display:inline-block}
.dropDown_A{display:inline-block}
.dropDown-menu{ display:none;transition: all 0.3s ease 0s}
.dropDown:focus,.dropDown-menu:focus {outline:0}
.dropDown-menu li.arrow{ position:absolute;display:block; width:12px; height:8px; margin-top:-13px; margin-left:20%; line-height:0;background:url(../images/dropDown/icon-jt.png) no-repeat 0 0}
/*鼠标经过*/
.dropDown.hover .dropDown_A,
.dropDown.open .dropDown_A{text-decoration:none;background-color:rgba(255,255,255,0.2)}
.dropDown.open .dropDown_A .menu_dropdown-arrow{transition-duration:0.3s ;transition-property:all;_background-position:0 0;transform: rotate(180deg)}

.menu{background-color:#fff;border:solid 1px #f2f2f2; display: inline-block}
.menu.radius{border-top-left-radius:0;border-top-right-radius:0}
.menu.box-shadow{border-top:none}
.menu > li{position:relative; clear:both;* float:left}
.menu > li > a{ display: block;border-bottom:solid 1px #f2f2f2;padding:5px 20px; line-height:1.8;text-align:left;font-weight: normal;white-space:nowrap; vertical-align:top}
.menu > li:last-child > a{ border-bottom:none}
.menu > li > a:hover,.menu > li > a:focus,.menu > li.open > a{ text-decoration:none;background-color:#fafafa}
.menu > li > a .arrow{ position:absolute; top:50%; margin-top:-10px; right:5px;line-height: 20px; height: 20px; color: #999}
.menu > li > .menu{ display: none}
.menu > li.open > .menu{ display: inline-block;position: absolute; left:100%;top:-1px;min-width:100%}

/*禁用菜单*/
.menu > li.disabled > a{color:#999;text-decoration:none; cursor:no-drop; background-color:transparent}
/*线条*/
.menu > li.divider{ display:block;height:0px; line-height:0px;margin:9px 0;overflow:hidden; border-top:solid 1px #eee}
/*导航*/
.nav{ z-index:1}
.nav > ul{ font-size:0; line-height:0}
.nav > ul > li{ position:relative; float:left}
.nav > ul > li,.nav > ul > li > a{ display:inline-block;text-align:center;}
.nav > ul > li > a{ padding:0 20px}
.nav > ul > li > a:hover,.nav > ul > li.current > a{background-color:rgba(217,16,0,0.2); text-decoration:none;
		-webkit-transition: background-color 0.3s ease 0s;
		-moz-transition: background-color 0.3s ease 0s;
		-o-transition: background-color 0.3s ease 0s;
		-ms-transition: background-color 0.3s ease 0s;
		transition: background-color 0.3s ease 0s
}
.nav-contact { font-size: 24px;}
.navbar-nav > ul > li.nav-contact { font-size: 24px; line-height: 68px; color: #C6D7ED;}
/*=========================nav下拉菜单=========================*/
.nav .dropDown.hover {background-color:#E81D4D; color: #FFFFFF;}
.nav .dropDown.hover .dropDown_A,
.nav .dropDown.open .dropDown_A{background-color:#E81D4D;color: #FFFFFF;}
.nav .dropDown > li > a:hover,.nav .dropDown > li > a:focus,.nav .dropDown > li.open > a{ text-decoration:none;background-color:#E81D4D;}

.r-nav > li { display: inline-block;}
.r-nav .dropDown-menu > li a { color: #333333; padding-left: 10px; padding-right: 10px;}
.r-nav .dropDown-menu > li:hover, .r-nav .dropDown-menu > li:focus, .r-nav .dropDown-menu > li.open { color: #333333; background: #f7f8fc; }
.r-nav .dropDown-menu > li a:hover, .r-nav .dropDown-menu > li a:focus, .r-nav .dropDown-menu > li.open > a{ color: #333333; background: #f7f8fc; padding-left: 10px; padding-right: 10px;}
/*默认左对齐*/
.nav .dropDown.open > .dropDown-menu{position:absolute;z-index:1000;display:inline-block;top:100%;left:0px;min-width:100%;background-color:#E81D4D;border:solid 0px #f2f2f2; color: #ffffff;}
.nav .dropDown.open > .dropDown-menu > li > a { border: none; color: #ffffff;}
.nav .dropDown.open > .dropDown-menu > li > a:hover,
.nav .dropDown.open > .dropDown-menu > li > a:focus,
.nav .dropDown.open > .dropDown-menu > li.open > a{ text-decoration:none;background-color:#c81842}
/*=========================btn=========================*/
/*主要——主色	通常用于确定、提交、购买、支付等*/
.btn-primary{color:#fff;background-color:#E81D4D; border-color:#E81D4D}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active{color:#fff;background-color:#B90932;border-color:#B90932}

/* Outline buttons */
.btn-primary-outline{color:#e81d4d;background-color:transparent;background-image:none;border-color:#e81d4d}
.btn-primary-outline.active,.btn-primary-outline.focus,.btn-primary-outline:active,.btn-primary-outline:focus,.open>.btn-primary-outline.dropdown-toggle{color:#fff;background-color:#e81d4d;border-color:#e81d4d}
.btn-primary-outline:hover{color:#fff;background-color:#e81d4d;border-color:#e81d4d}
.btn-primary-outline.disabled.focus,.btn-primary-outline.disabled:focus,.btn-primary-outline:disabled.focus,.btn-primary-outline:disabled:focus,fieldset[disabled] .btn-primary-outline.focus,fieldset[disabled] .btn-primary-outline:focus{border-color:#0a6999}
.btn-primary-outline.disabled:hover,.btn-primary-outline:disabled:hover,fieldset[disabled] .btn-primary-outline:hover{border-color:#B90932}

/*=========================首页新闻资讯=========================*/
.index-pic-box { margin:0 auto; width: 980px;}
.index-pic-list{ margin-right:-60px}
.index-pic-list li{ float:left;width:200px; height: 280px; margin-right:60px; position:relative; background: #F1F3F5}
.index-pic-list li .picbox{ overflow:hidden; border:solid 0px #f1f1f1;}
.index-pic-list li .picbox img{ width: 200px; height: 140px;}
.index-pic-list li .picbox,.index-pic-list li img{display:block; width:200px; height:140px;}
.index-pic-list li img {transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;-o-transition: 1s;}
.index-pic-list li.hover img {transform: scale(1.1);-webkit-transform: scale(1.1);}
.index-pic-list li .textbox{ display:block; margin-top:10px; padding-left: 15px; padding-right:15px ; font-size:16px; }
.index-pic-list li .pic-id{display:none; background-color:rgba(0,0,0,0.3); color:#fff; font-size:14px; padding:3px 5px; border-radius:3px}
.index-pic-list li .pic-id a{ color:#fff}
.index-pic-list li.hover .pic-id{ display:inline-block;position:absolute;top:2px; right:2px; z-index:9}
.index-pic-list li .news-time{color:#CACAD0; font-size:14px; padding:3px 15px; position: absolute; bottom: 20px;}
/*=========================首页产品展示=========================*/
.index-pro-box { margin:0 auto; margin-top: 60px; background: url(../img/index_bg.png) no-repeat top center; height: 1100px; position: relative;}
.index-pro-itme { width: 250px; height: 250px; display: block; position: absolute;}
.index-pro-itme.pro-a { left: 208px; top: 38px; }
.index-pro-itme.pro-b { right: 175px; top: 235px; }
.index-pro-itme.pro-c { left: 208px; top: 450px; }
.index-pro-itme.pro-d { right: 175px; top: 670px; }

.index-pro-text {display: block; position: absolute;}
.index-pro-text.pro-text-a { left: 484px; top: 99px; }
.index-pro-text.pro-text-b { right: 450px; top: 315px; }
.index-pro-text.pro-text-c { left: 484px; top: 533px; }
.index-pro-text.pro-text-d { right: 450px; top: 745px; }
.index-pro-text li .title { font-size: 30px; font-weight: 500; color: #000000;}
.index-pro-text li .con { font-size: 20px; color: #546984;}
/*=========================首页退税查询=========================*/
.index-search-tax { height: 190px;}
.index-search-input { width: 440px;}
/*=========================首页陆运查询=========================*/
.index-search-wl { height: 350px; background: url(../img/wl_bg.png) no-repeat top center;}
.tabBar {border-bottom: 0px solid #222}
.tabBar span {background-color: #ffffff;cursor: pointer;display: inline-block;float: left; font-size:14px; color: #4A4A4A; font-weight: 400;height: 30px;line-height: 30px;padding: 0 15px}
.tabBar span.current{background-color: #ffffff; color: #6BA6EC;font-weight: 600; border-bottom: 3px solid #6BA6EC}
.tabCon {display: none;}
.tabul { }
.tabul li { margin-bottom: 15px;}
.tabul label.name { margin-right: 15px; width: 60px; display: inline-block; text-align: right;}
.tabul .search-input { width: 400px; background: #F7F8FC;
   border: solid 1px #CFCFCF;
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.2);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.2);
}
.tabul .submit-btn {margin-left: 75px;}


/*=========================首页流程=========================*/
.index-step-area { height: 380px; background: url(../img/index_bg.png) no-repeat bottom center;}
.stepul { margin: 0 auto; width: 870px; overflow: hidden;}
.step-item { background: url(../img/step_bg.png) no-repeat top center; display: inline-block; width: 124px; min-height: 188px;clear:both;}
.step-arrow { background: url(../img/step_arrow.png) no-repeat center 50px; display: inline-block; width: 14px; height: 188px; margin-left: 20px; margin-right: 20px; content:"\200B";clear:both;}
.step-item .iconbox{ overflow:hidden; width: 124px; height: 150px; display: block; text-align: center;  padding-top: 20px; }
.step-item .textbox{ display:block; margin-top:10px; padding-left: 5px; padding-right:5px ; font-size:16px; text-align: center; }
.step-icon { font-size: 60px; color: #e81d4d;}
/*=========================底部COPYRIGHT=========================*/
.footer-area { background-color: #161B22; color: #B5B5B5;}
.footer-area { background-color: #161B22; color: #B5B5B5;}
.nav-sitemap > li { display: inline-block;}
.nav-sitemap > li > ul { margin-top: 10px;}
.nav-sitemap a { color: #B5B5B5;}
.copyright { color: #f7f7f7; height: 30px; line-height: 30px;}
.copyright a { color: #CFCFCF;}
.maxmenu { color: #FE3F80; }
.nav-sitemap a.maxmenu { color: #FE3F80; }
.contact { border-left: solid 1px #3a3d3f; padding-left: 30px;}
/*=========================二级页面BANNER=========================*/
.banner { height: 400px;}
.banner .banner-text { position: absolute; z-index: 108; }
.banner .banner-text .title { color: #ffffff; font-weight: 600;text-shadow:1px 2px 4px rgba(0,0,0,0.2);}
.banner .banner-text .con { color: #ffffff; font-weight: 400;text-shadow:1px 2px 4px rgba(0,0,0,0.2);}
/*=========================口岸服务页面=========================*/
.pro-des {}
.pro-des .max-title { font-weight: 600; font-size: 32px; color: #e81d4d; display: inline-block;}
.pro-des .detail { }
.pro-des-box1 { background: #ffffff; height: 300px;}
.pro-des-box2 { background: #E9EAF0 url(../images/kouan/arrow1.png) no-repeat top center ; height: 300px;}
.pro-des-box3 { background: #ffffff url(../images/kouan/arrow2.png) no-repeat top center ; height: 300px;}
.condition {background: #ffffff url(../images/kouan/kouan_bg.png) no-repeat top center ; height: 770px;}
/*=========================金融服务页面=========================*/
.jinrong-main { background: url(../img/jinrong/boss.png) no-repeat center 190px; height: 1350px;}
/*=========================物流服务页面=========================*/
.wuliu-main { height: 640px;}
.wuliu-item { margin-bottom: 40px;}
.wuliu-item .wl-pic-box{ width: 220px;}
.wuliu-item .wl-text-box{ width: 360px;}
.item-line { background: url(../img/item_line.png) no-repeat center center; display: block; width: 227px; height: 13px; margin: 10px auto;}
.wuliu-gird-item { height: 300px; margin: 0 auto; position: relative;} 
.wuliu-gird-item .text { width: 220px; margin: 0 auto;} 
.wuliu-gird-item .btn-box { position:absolute; margin: 0 auto; top:320px; left: 65px; width: 140px;} 
.wuliu-gird-item .btn-box .btn { padding-left: 30px; padding-right: 30px;} 
.wuliu-gird-item .jiao-line { background: url(../img/jiao-line.png) no-repeat right top; position:absolute; width: 70px; height: 70px;  top:-1px; right: -1px;} 
/*=========================其它服务页面=========================*/
.qita-item {width: 360px;}
.qita-item .pic-box img {width: 360px; height: 230px;}
.qita-item .title-box {width: 360px; height: 75px; color: #ffffff; font-weight: bold; text-align: center; line-height: 75px;}
.qita-item .detail-box {width: 360px; }
/*=========================高度=========================*/
.hei-300 { height: 300px;}
/*=========================list-ul=========================*/
.dor li { background: url(../img/dor.png) no-repeat 8px center; padding-left: 25px;}
.dots-line {background: url(../img/dots.png) no-repeat center center; height: 20px; }
.airplan-line {background: url(../img/airplan-line.png) no-repeat center center; height: 40px; }
.head-title-dor { background: url(../img/head_title_bg.png) no-repeat left center; padding-left: 25px; }
