
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471846136'); /* IE9*/
  src: url('iconfont.eot?t=1471846136#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471846136') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471846136') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471846136#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lunchuan:before { content: "\e621"; }
.icon-truckfuzhi:before { content: "\e61c"; }
.icon-jiantou:before { content: "\e60c"; }
.icon-jiantou1:before { content: "\e60d"; }
.icon-zhiding:before { content: "\e609"; }
.icon-jiantou2:before { content: "\e60e"; }
.icon-jiantou3:before { content: "\e60f"; }
.icon-zhiding1:before { content: "\e61f"; }
.icon-jiantou4:before { content: "\e610"; }
.icon-jiantou5:before { content: "\e626"; }
.icon-chevron-copy-copy-copy:before { content: "\e611"; }
.icon-fangdajing:before { content: "\e622"; }
.icon-icon-copy-copy:before { content: "\e612"; }
.icon-icon-copy-copy1:before { content: "\e613"; }
.icon-prev:before { content: "\e614"; }
.icon-phone:before { content: "\e624"; }
.icon-xiadanxiugai:before { content: "\e60a"; }
.icon-kuaidigongsixiaoyuanbaoguoxia:before { content: "\e627"; }
.icon-arrow-right-copy:before { content: "\e615"; }
.icon-kuaidiyuanpaisong:before { content: "\e628"; }
.icon-tel:before { content: "\e625"; }
.icon-fangdajing1:before { content: "\e623"; }
.icon-icon-copy-copy2:before { content: "\e616"; }
.icon-icon-copy:before { content: "\e617"; }
.icon-icon-double-arrow-up:before { content: "\e618"; }
.icon-jiantou-copy:before { content: "\e619"; }
.icon-feiji1:before { content: "\e629"; }
.icon-chuan1:before { content: "\e62a"; }
.icon-zhiding2:before { content: "\e620"; }
.icon-shenqingsvg:before { content: "\e60b"; }
.icon-jiantou-copy-copy-copy-copy-copy-copy:before { content: "\e61a"; }
.icon-jiantou-copy-copy:before { content: "\e61b"; }
.icon-feiji3:before { content: "\e600"; }
.icon-baoguanchukou:before { content: "\e601"; }
.icon-fenpeiguwen:before { content: "\e602"; }
.icon-jiesuan:before { content: "\e603"; }
.icon-shoujiehui:before { content: "\e604"; }
.icon-tuishui:before { content: "\e605"; }
.icon-xiadan:before { content: "\e606"; }
.icon-xiadanchukou:before { content: "\e607"; }
.icon-zaixianshenqing:before { content: "\e608"; }
.icon-pingtaiqueren:before { content: "\e61e"; }
.icon-huoche:before { content: "\e61d"; }
.icon-baoguoxian:before { content: "\e62b"; }
